<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here are your alerts, <%= @user.name %>!</h1>
      <% @alerts.each do |alert| %>
        <p><%= alert.event %></p>
        <p>Starts: <%= alert.effective_at %></p>
        <p>Ends: <%= alert.ends_at %></p>
        <p><%= alert.description %></p>
        <p><%= alert.instructions %></p>
      <% end %>
    <b><%= '@FL511 Alerts' %></b>
    <ul>
      <% @tweets.first.each do |tweet| %>
        <li><%= tweet.text %> <em><%= tweet.created_at %></em></li>
      <% end %>
    </ul>
    <b><%= '@BeReadyEscambia Alerts' %></b>
    <ul>
      <% @tweets.last.each do |tweet| %>
        <li><%= tweet.text %> <em><%= tweet.created_at %></em></li>
      <% end %>
    </ul>
  </body>
</html>